*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    height: 96px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header img{
    height: 100%;
}

ul{
    display: flex;
    flex-direction: row;
}

ul li{
    margin-left: 2rem;
}

li a {
    color: white;
    text-decoration: none;
}

/* section{
    display: flex;
    flex-direction: row;
} */

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#why-list{
    display: flex;
    flex-direction: row;
}